h1 {
    text-align: center;
    color: #cc0000;
  }

  h2 {
    text-align: center;
    color: #00cc00;
  }

  p, h1 {
    text-align: center;
    color: #000080;
  }

  h2 , h3 {
    margin: auto;
    color: #cc0000;
  }

  div.note {
    margin-bottom: 20px;
    padding: 10px;
  }

  #answer {
    display: none;
  }
  
  h2 , h3 {
    margin: auto;
    color: #008000;
  }

